{{- /* Head custom content area start */ -}}
<style>
  /* 常规版字体 */
  @font-face {
    font-family: 'LXGW WenKai Screen';
    src: url('/fonts/LXGWWenKaiScreen.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  /* GB 版字体 */
  @font-face {
    font-family: 'LXGW WenKai GB Screen';
    src: url('/fonts/LXGWWenKaiGBScreen.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  /* 等宽版字体 */
  @font-face {
    font-family: 'LXGW WenKai Mono Screen';
    src: url('/fonts/LXGWWenKaiMonoScreen.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  /* GB 等宽版字体 */
  @font-face {
    font-family: 'LXGW WenKai Mono GB Screen';
    src: url('/fonts/LXGWWenKaiMonoGBScreen.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  body {
    font-family: 'LXGW WenKai Screen', 'LXGW WenKai GB Screen', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  }
  
  code, pre {
    font-family: 'LXGW WenKai Mono Screen', 'LXGW WenKai Mono GB Screen', monospace;
  }
</style>
{{- /* Head custom content area end */ -}}
